<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Live Stream Card Verify Requests</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
</head>
<body>
<h2>The Real Time feed of Cards</h2>
<table id="card-table">
    <tr>
        <td>Scheme</td>
        <td>Type</td>
        <td>Bank</td>
    </tr>
</table>
<script src="/app.js"></script>
</body>
</html>